name: Coq

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Download Git submodules
        run: git submodule update --init --recursive
      - uses: coq-community/docker-coq-action@v1
        with:
          custom_image: coqorg/coq:8.17-ocaml-4.14-flambda
          custom_script: |
            startGroup "Install dependencies"
              opam install -y --deps-only CoqOfPython/coq-of-python.opam
            endGroup
            startGroup "Set the rights"
              sudo chown -R $(whoami) .
            endGroup
            startGroup "Compile Coq translations"
              cd CoqOfPython
              make
              cd ..
            endGroup
